invoice:
  company_name: "Интернет-магазин Фирма"
  logo: "images/admin/bg/spree_50.png"
country:
  id: "168"
  name: "Россия"
  description: "Российская Федерация"
  currency: "р."
  timezone: "Moscow"
